@import "tailwindcss";


/* منع أي تأثير Dark Mode */
/* إجبار كامل على Light Mode */
html,
body,
#root,
#__next {
  background-color: #FCD451 !important;
  color: black !important;
}

/* إصلاح أي input أو textarea */
input,
textarea,
select,
button {
  background-color: #FCD451 !important;
  color: black !important;
  -webkit-text-fill-color: black !important;
  /* Safari */
}

/* منع أي تأثير dark على scrollbars */
* {
  scrollbar-color: #D2000E #FCD451 !important;
}

/* منع أي تأثير dark على كل شيء */
:root {
  color-scheme: light !important;
}


@font-face {
  font-family: 'Playpen Sans Arabic';
  src: url('/fonts/PlaypenSansArabic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Lemonada';
  src: url('/fonts/Lemonada.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'BalooBhaijaan2-Bold';
  src: url('/fonts/BalooBhaijaan2-Bold.ttf') format('truetype');
  font-weight: 70;
  font-style: extra-bold;
}



/* Cairo Thin */
@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* Cairo ExtraLight */
@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-ExtraLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Cairo Light */
@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Cairo Regular */
@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Cairo Medium */
@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Cairo SemiBold */
@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Cairo Bold */
@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Cairo ExtraBold */
@font-face {
  font-family: 'Cairo';
  src: url('/fonts/Cairo-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Amiri Light */
@font-face {
  font-family: 'Almarai';
  src: url('/fonts/Almarai-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Amiri Regular */
@font-face {
  font-family: 'Almarai';
  src: url('/fonts/Almarai-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Amiri Bold */
@font-face {
  font-family: 'Almarai';
  src: url('/fonts/Almarai-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Amiri Extra Bold */
@font-face {
  font-family: 'Almarai';
  src: url('/fonts/Almarai-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


body {
  font-family: 'Playpen Sans Arabic', sans-serif;
}


@keyframes pulseScale {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }
}

.animate-pulseScale {
  animation: pulseScale 2s ease-in-out infinite;
}

@keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-textGradient {
  background-size: 200% 200%;
  animation: textGradient 3s ease infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease forwards;
}